<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="LocalSqlServer" connectionString="Server=(local);Database=ASPNETDB;Integrated Security=true" providerName="System.Data.SqlClient" />
        <add name="ApplicationServices" connectionString="Server=(local);Database=aspnetdb;Integrated Security=true" providerName="System.Data.SqlClient" />
        <add name="ppcConnectionString" connectionString="Server=(local);user id=sa3;password=davel;database=ppc" providerName="System.Data.SqlClient" />
		<add name="atcIntlConnectionString" connectionString="Server=(local);user id=sa3;password=davel;database=atcIntl" providerName="System.Data.SqlClient" />
		<add name="verizonConnectionString" connectionString="Server=(local);user id=sa3;password=davel;database=Verizon" providerName="System.Data.SqlClient" />
		<add name="ivrConnectionString" connectionString="Server=(local);user id=sa3;password=davel;database=IVR" providerName="System.Data.SqlClient" />

		<add name="authnet.Merchant" connectionString="5JmMBx5yg7A" />
		<add name="authnet.Key" connectionString="55Y2AvxkJz5G7F5k" />
		<add name="authnetTEST.Merchant" connectionString="9awM4hGv3J" />
		<add name="authnetTEST.Key" connectionString="9HAa9K96hQ2T38fG" /> 
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="32768"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="14400" />
		</authentication>
    <sessionState timeout="960"></sessionState>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Specialized" />
				<add namespace="System.Configuration" />
				<add namespace="System.Text" />
				<add namespace="System.Text.RegularExpressions" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Caching" />
				<add namespace="System.Web.SessionState" />
				<add namespace="System.Web.Security" />
				<add namespace="System.Web.Profile" />
				<add namespace="System.Web.UI" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="System.Web.UI.WebControls.WebParts" />
				<add namespace="System.Web.UI.HtmlControls" />
				<add namespace="System.Data.SqlClient" />
				<add namespace="System.Data" />
			</namespaces>
		</pages>
        <identity impersonate="false" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<defaultDocument>
			<files>
                <clear />
                <add value="Account/Login.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
	<add key="svc.Service" value="https://api.authorize.net/soap/v1/Service.asmx" />
	</appSettings>
</configuration>